<h1 class="mb-5 mt-5"> Depósito </h1>
<hr>
<form [formGroup]="form" (ngSubmit)="deposito()">
  <div class="mb-3">
    <label  class="form-label">Agencia</label>
    <input type="text" class="form-control"  name="Agencia" formControlName="agencia" maxlength="4">
  </div>
  <div class="mb-3">
    <label  class="form-label">Conta</label>
    <input type="text" class="form-control"  name="Conta" formControlName="numeroConta" >
  </div>
  <div class="mb-3">
    <label  class="form-label">Valor</label>
    <input type="text" class="form-control"  name="Valor" formControlName="valor" currencyMask>
  </div>
</form>
<app-checkbox label="Aceito os termos"></app-checkbox>
<button type="submit" class="btn btn-primary"  [disabled]="form.invalid" (click)="deposito()">Depositar</button>
