<h1 class="mb-5 mt-5"> Saque </h1>
<hr>
<form [formGroup]="form">
    <div class="mb-3">
      <label  class="form-label">Agencia</label>
      <input type="text" class="form-control"  name="Agencia" formControlName="agencia" maxlength="4">
    </div>
    <div class="mb-3">
      <label  class="form-label">Conta</label>
      <input type="text" class="form-control"  name="Conta" formControlName="conta" mask="00000000-0">
    </div>
    <div class="mb-3">
      <label  class="form-label">Valor</label>
      <input type="text" class="form-control"  name="Valor" formControlName="valor" currencyMask >
    </div>
</form>
  <app-checkbox label="Aceito os termos"></app-checkbox>
  <button titulo="Enviar" class="btn btn-dark"  [disabled]="form.invalid" (click)="onSubmit()">Enviar</button>
