<h1 class="mb-5 mt-5">Clientes</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">E-mail</th>
      <th scope="col">Observação</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Luan Barbosa</td>
      <td>10621176460</td>
      <td>luanlucas.r10@hotmas.com</td>
      <td>Poupança com rendimento</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Isaac Souza</td>
      <td>10720976541</td>
      <td>isaacsouza@gmail.com</td>
      <td>Conta Corrente</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Gugaldo</td>
      <td>10721176460</td>
      <td>guga@terra.com</td>
      <td>Conta corrente</td>
    </tr>
  </tbody>
</table>
<app-button titulo="Cadastrar"  routerLink="/cadastrar-clientes" routerLinkActive="active"></app-button>
