<h1 class="mb-5 mt-5">Cadastro Clientes</h1>
<form #clientForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label  class="form-label">Nome</label>
    <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="clientes.nome" name="nome">
  </div>
  <div class="mb-3">
    <label  class="form-label">CPF</label>
    <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="clientes.cpf" name="cpf">
  </div>
  <div class="mb-3">
    <label  class="form-label">E-mail</label>
    <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="clientes.email" name="email">
  </div>
  <div class="mb-3">
    <label  class="form-label">Observação</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="clientes.obs" name="obs"></textarea>
  </div>
  <div class="mb-3">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="clientes.ativo" name="ativo">
    <label class="form-check-label " for="exampleCheck1" titulo= "Enviar">Aceito os termos</label>
    </div>
</form>
<button type="submit" class="btn btn-dark" (click)="onSubmit()">Enviar</button>

  





  



