<h1 class="mb-5 mt-5">Cadastrar Contas</h1>
<hr>
<form [formGroup]="form">
    <div class="row">
        <div class="col-12 col-md-4">
            <label class="form-label">Agência</label>
            <input type="text" class="form-control" name="agencia" formControlName="agencia">
        </div>
        <div class="col-12 col-md-4">
            <label class="form-label">Número</label>
            <input type="text" class="form-control" name="numero" formControlName="numero">
        </div>

        <div class="col-12 col-md-4">
            <label class="form-label">Saldo</label>
            <input type="text" class="form-control" name="saldo" formControlName="saldo" >
        </div>
    </div>
  </form> <br>
  <button type="submit" class="btn btn-primary"  (click)="save()" >Enviar</button>
  


