<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3 " style="background-color: #000000bd;">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Meu banco</a>
    <button class="navbar-toggler"
      type="button" 
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false" 
      aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="mx-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/clientes" routerLinkActive="active">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/extrato" routerLinkActive="active">Extrato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/contas" routerLinkActive="active">Contas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Operações
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/deposito" routerLinkActive="active"> Depósito </a></li>
            <li><a class="dropdown-item" routerLink="/saque" routerLinkActive="active"> Saque </a></li>
            <li><a class="dropdown-item " routerLink="/transferencia" routerLinkActive="active"> Transferência </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main>
  <div id="carouselExampleInterval" class="carousel slide content text-center" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="6000">
        <img class="banner-image1 w-100 vh-100 d-flex justify-content-center align-items-center">
      </div>
      <div class="carousel-item" data-bs-interval="6000">
        <img class="banner-image2 w-100 vh-100 d-flex justify-content-center align-items-center">
      </div>
      <div class="carousel-item" data-bs-interval="6000">
        <img class="banner-image3 w-100 vh-100 d-flex justify-content-center align-items-center">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
</main>
  

